/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}
  
main .hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

main .hero {
  display: flex;
  max-width: var(--max-content-width);
  margin: auto;
}

main .hero .left-box {
  background: #024c99;
  min-height: 400px;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

main .hero .right-box {
  flex: 1;
  display: none;
}

main .hero .left-box .bg-circle-1 {
  background: #4179b3;
  display: block;
  position: absolute;
  width: 390px;
  height: 390px;
  right: -90px;
  top: -210px;
  border-radius: 195px;
  opacity: .4;
}

main .hero .left-box .bg-circle-2 {
  background: #4179b3;
  display: block;
  position: absolute;
  width: 220px;
  height: 220px;
  left: -110px;
  bottom: 40px;
  border-radius: 110px;
  opacity: .4;
}

main .hero h1 {
  color: white;
  margin-right: auto;
  padding: 48px;
  z-index: 1;
}

main .hero h2 {
  color: white;
  padding: 0 24px 48px 48px !important;
  z-index: 1;
}

main .hero picture {
  z-index: -1;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .hero .button {
  background-color: white;
  color: var(--link-color);
  margin: auto 48px 40px 56px;
  width: 278px;
  font-size: 24px;
  z-index: 2;
  transition: .3s;
}

@media (min-width: 900px) {
  main .hero .right-box {
    display: block;
  }
}